@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*{
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Poppings", sans-serif;
}

header{
  text-align: center;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.funderline{
  position: relative;
}

.funderline::before {
  content: '';
  position: absolute;
  height: 1.5px;
  width: 100%;
  bottom: -10px;
  left: 0;
  background: linear-gradient(45deg, #ff9a00, #ff165d);
}

main{
  padding: 30px 50px 1px;
}

.card{
  padding: 20px;
  margin-top: 15px;
}

.campo{
  display: inline-table;
  padding-left: 10px;
}

.campo> input{
  font-size: 0.8rem;
  border: 0;
  outline: 0;
  padding: 2px;
  padding-left: 5px;
  margin-top: 4px;
  font-style: italic;
}

.status{
    width: 145px;
    height: 19px;
    font-size: 0.8rem;
    font-style: italic;
}

.underline{
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 1px;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.underline::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 1px;
  left: 0;
  background: linear-gradient(45deg, #ff9a00, #ff165d);
  transform: scaleX(0);
  transition: all .3s ease-in-out;
  transform-origin: left;
}

.campo> input:focus ~ .underline::after {
  transform: scaleX(1);
}

.button{
  padding-left: 80%;
  display: inline;
}

.bstyle{
  margin-top: 5px;
  background: linear-gradient(45deg, #ff9a00, #ff165d);
  transition: all 0.3s ease;
  border-radius: 6px;
  padding: 4px;
  box-shadow: 1px 1px 2px rgba(114, 114, 114, 0.1);
  color: white;
  cursor: pointer;
}

.bstyle:hover{
  letter-spacing: 0.5px;
  background: linear-gradient(45deg, #ff165d, #ff9a00);
  transition: all 0.3s ease-in;
}

table{
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 5px #e1e5ee;
  background-color:white;
  text-align: center;
  overflow: hidden;
}

tr:nth-child(even){
  background-color:#ededf1;
}

thead{
  box-shadow: 0 5px 10px #e1e5ee;
}

th{
  padding: 1rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  font-weight: 900;
  }

td{
  padding: 1rem 2rem;  
  text-transform: uppercase; 
}
      
td.status-recuperation{
  text-align: center;
  background-color:#fff0c2;
  color:#a68b00;
}
  
td.status-disapproved{
  text-align: center;
  background-color:#ffcdd2;
  color:#c62828;
}

td.status-approved{
  text-align: center;
  background-color:#c8e6c9;
  color:#388e3c;
}
